<div id="initial-view" class="view active" style="background-image: url('assets/image/Gemini_Generated_Image_l1tc8rl1tc8rl1tc.jpg'); background-size: cover; background-position: center;">
    <!-- Bunting / Banderitas -->
    <ul class="bunting">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <!-- Balloons -->
    <div class="balloon b1"></div>
    <div class="balloon b2"></div>
    <div class="balloon b3"></div>
    <div class="balloon b4"></div>
    <div class="balloon b5"></div>
    <div class="gift-container">
        <div class="pulse-ring"></div>
        <button id="surprise-btn" class="gift-btn">
            <i class="fa-solid fa-gift"></i> Tap for a Surprise <i class="fa-solid fa-gift"></i>
        </button>
    </div>
</div>
