<div id="slideshow-view-2" class="view">
    <!-- Bunting / Banderitas -->
    <ul class="bunting">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <!-- Balloons -->
    <div class="balloon b1"></div>
    <div class="balloon b2"></div>
    <div class="balloon b3"></div>
    <div class="balloon b4"></div>
    <div class="balloon b5"></div>
    <h2 class="instruction-text" style="margin-bottom: 20px;">Singerist pala to si Idol 🎤</h2>
    <div class="video-grid">
        <div class="media-wrapper">
            <video src="assets/video/kanta-niya-1.mp4" controls preload="metadata"></video>
            <p class="media-caption">Synesthesia</p>
        </div>
        <div class="media-wrapper">
            <video src="assets/video/kanta-niya-2.mp4" controls preload="metadata"></video>
            <p class="media-caption">Love Story (via Thea) </p>
        </div>
        <div class="media-wrapper">
            <video src="assets/video/kanta-niya-3.mp4" controls preload="metadata"></video>
            <p class="media-caption">Panalangin (via Thea) </p>
        </div>
    </div>
    <button id="to-cake-btn" class="action-btn" style="margin-top: 20px;">Next <i class="fa-solid fa-arrow-right"></i></button>
</div>
