<div id="slideshow-view" class="view">
    <!-- Bunting / Banderitas -->
    <ul class="bunting">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!-- Balloons -->
    <div class="balloon b1"></div>
    <div class="balloon b2"></div>
    <div class="balloon b3"></div>
    <div class="balloon b4"></div>
    <div class="balloon b5"></div>
    <h2 class="instruction-text" style="margin-bottom: 20px;">Our Memories</h2>
    <div class="photo-grid">
        <div class="media-wrapper">
            <img src="assets/image/IMG_20240406_212818_048.jpg" alt="Cherry">
            <p class="media-caption">A beautiful day</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/IMG_20240409_113926_816.jpg" alt="Cherry">
            <p class="media-caption">So pretty</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/received_439313421816813.jpeg" alt="Cherry">
            <p class="media-caption">Cutie</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/1714983792741.jpg" alt="Cherry">
            <p class="media-caption">Cute</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/7.jpg" alt="Us">
            <p class="media-caption">With my Idol</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/1.jpg" alt="Us">
            <p class="media-caption">Capstone Defense xd</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/9.jpg" alt="Us">
            <p class="media-caption">:|</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/3.jpg" alt="Us">
            <p class="media-caption">Ice Cream</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/10.jpeg" alt="Us">
            <p class="media-caption">May nag spy satin</p>
        </div>
    </div>
    <button id="to-memories-2-btn" class="action-btn" style="margin-top: 20px;">Next <i
            class="fa-solid fa-arrow-right"></i></button>
</div>