<div id="slideshow-view" class="view">
    <h2 class="instruction-text" style="margin-bottom: 20px;">Our Memories</h2>
    <div class="photo-grid">
        <div class="media-wrapper">
            <img src="assets/image/IMG_20240406_212807_497.jpg" alt="Cherry">
            <p class="media-caption">A beautiful day</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/IMG_20240409_113926_816.jpg" alt="Cherry">
            <p class="media-caption">So pretty</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/IMG_20240410_003913_034.jpg" alt="Cherry">
            <p class="media-caption">Smile!</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/1714983792741.jpg" alt="Cherry">
            <p class="media-caption">Cute moment</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/20240404193551512.jpg" alt="Us">
            <p class="media-caption">With you ❤️</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/IMG_20240404_151802.jpg" alt="Us">
            <p class="media-caption">Happy times</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/IMG_20240509_142237.jpg" alt="Us">
            <p class="media-caption">Us together</p>
        </div>
        <div class="media-wrapper">
            <img src="assets/image/pic with me/IMG_5104.jpg" alt="Us">
            <p class="media-caption">My favorite</p>
        </div>
    </div>
    <button id="to-memories-2-btn" class="action-btn" style="margin-top: 20px;">Next <i class="fa-solid fa-arrow-right"></i></button>
</div>
